<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <style>
        body {
            font-family: system-ui, sans-serif;
        }

        h1 {
            margin: 0px;
        }

        h2 {
            margin-bottom: 0px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        fieldset {
            margin-bottom: 5px;
            border-radius: 5px;
        }

        ul {
            list-style: none;
            margin: 5px 0px;
            padding: 0px;
        }

        li {
            margin-bottom: 5px;
        }

        input[type=text] {
            margin: 5px 0px;
            border-radius: 5px;
        }

        input[type=checkbox] {
            cursor:pointer;
            margin: 0px;
        }

        input[type=submit] {
            padding: 5px 10px; 
            background:#2be; 
            border:0 none;
            cursor:pointer;
            border-radius: 5px;
            color: #fff;
            font-weight: 700; 
        }

        .notopmg {
            margin-top: 0px;
        }

        @media (max-width: 700px) {
            body {
                text-align: center;
            }
            
            form {
                align-items: stretch;
            }

            fieldset, label {
                text-align: left;
            }

            input[type=text], input[type=submit] {
                padding: 10px;
            }
        }
    </style>
</head>
<body>
    <h1>Task Manager</h1>
    <h2 class="notopmg">My Tasks</h2>
    <form action="/" method="post" id="outstanding-tasks">
        <fieldset>
            <legend>ongoing Tasks</legend>
            <ul>
                <li><input type="checkbox" id="task1" name="task1" value="Bike">
                <label for="task1">clean my room</label></li>
                <li><input type="checkbox" id="task1" name="task2" value="Car">
                <label for="task2">finish free code camp</label></li>
                <li><input type="checkbox" id="task3" name="task3" value="Boat">
                <label for="task3">be kind</label></li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>finished Tasks</legend>
            <ul>
                <li><input type="checkbox" id="task4" name="task4" value="Bike" checked>
                <label for="task4">read a book</label></li>
                <li><input type="checkbox" id="task5" name="task5" value="Car" checked>
                <label for="task5">have a great day</label></li>
                <li><input type="checkbox" id="task6" name="task6" value="Boat" checked>
                <label for="task6">do sports</label></li>
            </ul>
        </fieldset>
        <input type="submit" value="Confirm">
    </form>
    <h2>add new Task</h2>
    <form action="/create-task" method="post" id="create-task-form">
        <label for="new-task-description">Beschreibung</label>
        <input type="text" name="description" id="new-task-description">
        <input type="submit" value="add Task">
    </form>
</body>
</html>